html { 
	color:#000; 
	background:#FFF; 
}
.container { 
	line-height: 1.6; 
	color: #666; 
	font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, Verdana, Helvetica, Arial, sans-serif; 
	font-size: 12px; 
	background: #fff; 
}
