html { 
	color:#000; 
	background:#FFF; 
	font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, Verdana, Helvetica, Arial, sans-serif; 
}
.container { 
	line-height: 1.6; 
	color: #666; 
	font-size: 12px; 
	background: #fff; 
}

h1.dialog-h1 {
	color: #449DFF;
	padding-left: 5px;
	border-left: solid 5px #449DFF;
	border-bottom: solid 1px #000;
}
