@(oauth: jp.co.flect.net.OAuth2)(implicit lang: Lang)

@base(Messages("cooperateSalesforce")) {
<h1 class="dialog-h1">@Messages("cooperateSalesforce")</h1>
<div>
	<input type="checkbox" id="chkSandbox"/><label for="chkSandbox">@Messages("useSandbox")</label>
	<br>
	<br>
	<button id="btnLogin">@Messages("login")</button>
</div>
<script>
$(function() {
	$("#btnLogin").click(function() {
		var href = "@oauth.getLoginUrl";
		href = href.replace(/&amp;/g, "&");
		
		var sandbox = $("#chkSandbox").is(":checked");
		if (sandbox) {
			href = href.replace("login.salesforce.com", "test.salesforce.com") + "%3Fsandbox%3Dtrue";
		}
		console.log(href);
		location.href = href;
	})
});
</script>
}
