@()(implicit lang: Lang)

@base(Messages("generateSalesforceObject")) {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.formbuilder.css")">
<script src="@routes.Assets.at("javascripts/ext/validation/jquery.validate.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.validate.addons.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.formbuilder.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/ext/validation/localization/messages_ja.js")" type="text/javascript"></script>
<h1 class="dialog-h1">@Messages("generateSalesforceObject")</h1>
<div>
	<form action="/salesforce/create" method="POST">
		<button type="button" id="submit">@Messages("generate")</button>
	</form>
</div>
<script>
$(function() {
	var json = sessionStorage.getItem("template"),
		form = $("form").formbuilder({
		"title" : "@Messages("objectInfo")",
		"errorBreak" : true,
		"items" : {
			"name" : {
				"label" : "@Messages("objectName")",
				"required" : true,
				"type" : "text"
			},
			"label" : {
				"label" : "@Messages("label")",
				"type" : "text"
			},
			"description" : {
				"label" : "@Messages("description")",
				"type" : "textarea",
				"cols" : 40,
				"rows" : 5
			},
			"useEmailField" : {
				"label" : " ",
				"type" : "checkbox",
				"values" : [ "true:@Messages("useEmailField")"],
				"checked" : "true"
			},
			"useUrlField" : {
				"label" : " ",
				"type" : "checkbox",
				"values" : [ "true:@Messages("useUrlField")"],
				"checked" : "true"
			},
			"json" : {
				"type" : "hidden",
				"value" : json
			}
		}
	});
	var submit = $("#submit").click(function() {
		if (form.validate()) {
			submit.attr("disabled", "disabled");
			$("body").css("cursor", "wait");
			$.ajax({
				"url" : "/salesforce/create",
				"type" : "POST",
				"data" : form.getJson(),
				"success" : function(data) {
					if (data == "OK") {
						alert("@Messages("finishGenerate")");
					} else {
						alert(data);
					}
					window.close();
				}, 
				"error" : function(xhr, txtStatus, thrown) {
					submit.removeAttr("disabled");
					$("body").css("cursor", "default");
					if (xhr.status == 503) {
						alert("@Messages("maybeTimeout")");
						window.close();
					} else {
						alert("Unexpected error: " + xhr.status + ", " + txtStatus);
					}
				}
			});
		}
	});
});
</script>
}
