@(bootstrap: Boolean)
@import jp.co.flect.play2.tags.Include

@base("Form Generator") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.formbuilder.css")">
<script src="@routes.Assets.at("javascripts/ext/validation/jquery.validate.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.formbuilder.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/ext/validation/localization/messages_ja.js")" type="text/javascript"></script>
@if(bootstrap) {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/ext/bootstrap/css/bootstrap.css")">
<script src="@routes.Assets.at("javascripts/ext/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
}
<script src="@routes.Assets.at("javascripts/ext/ace/src/ace.js")" type="text/javascript" charset="utf-8"></script>

<script src="@routes.Assets.at("javascripts/jquery.splitter.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/formeditor.js")" type="text/javascript"></script>
<style>
#bootstrap-control {
	margin-bottom: 10px;
}

#editor-pane {
	float: left;
	margin-right: 30px;
	background-color: #b0c4de;
	height: 100%;
	box-sizing: border-box;	-moz-box-sizing: border-box;
}
#form-pane {
	display: inline-block;
	background-color: #ffefd5;
	padding: 0 10px 10px 5px;
	box-sizing: border-box;	-moz-box-sizing: border-box;
}
#editor { 
	width: 400px;
	height: 400px;
	margin-bottom: 10px;
	box-sizing: border-box;	-moz-box-sizing: border-box;
}

</style>
<script>
$(function() {
	var initialData = @Html(Include("app/data/sampleForm.json").replaceAll("//.*\n", "\n"));
	var editor = new flect.app.FormEditor(initialData);
});
</script>
<div id="header">
	<h1>Form Generator</h1>
</div>
<div id="workspace">
	<div id="editor-pane">
		<h3>JSON定義</h3>
		<p>
		下の定義を編集して右のフォームを変更できます。
		</p>
		<p>
		(JSONには本来コメントはありませんが、下のエディタ内では使用できます。)
		</p>
		<div id="editor">@Include("app/data/sampleForm.json")</div>
		<div>
			<button id="test" class="btn btn-primary">生成</button>
		</div>
		<div id="bootstrap-control">
			<a class="btn btn-warning" href="/sample?bootstrap=@(!bootstrap)">Bootstrapを@if(bootstrap){無効}else{有効}にする</a>
		</div>
	</div>
	<div id="form-pane">
		<h3>フォーム</h3>
		<form id="sampleForm" action="#">
		</form>
		<button id="submit" class="btn btn-primary">チェック</button>
	</div>    
</div>
}
